{:backend.config/config {}
 :backend.couchdb/couchdb {:backend.config/config #ig/ref :backend.config/config}
 :backend.entsoe/entsoe {:backend.config/config #ig/ref :backend.config/config}
 :backend.location/location {:backend.couchdb/couchdb #ig/ref :backend.couchdb/couchdb}}
